h1{
   padding:20px;
   margin:10px;
   border:3px solid blue;
   color:white;
   border-radius:30px;
}



img{
    padding:20px;
    margin:10px;
    border:3px solid yell;
    width:250px;
    float:left;
    border-radius:30px;
       }
p{
    padding:20px;
    margin:10px;
    border:3px solid blue;
    width:1700px;
    border-radius:30px;
       }





	<ul>
		<li>item</li>
		<li>item</li>
		<li>item</li>
	</ul>
</body>
</html>
